// create a global custom variables for size tokens
// to use in spacing value for example
// example:
/*:root {
  --base-size-none: '0px';
  --base-size-xsm: 0.25rem;
  --base-size-sm: 0.5rem;
  --base-size-md: 1rem;
}*/